img {
  border-radius: 50%;
}

.reviewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.reviewer p {
  max-width: 350px;
}

.average-rating {
  margin-top: 5px;
}

.average-rating p {
  margin-bottom: 5px;
}


a {
  color: var(--button-color);
}

#header {
  text-align: center;
  margin-bottom: -20px;
}
