<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets//toolTypes/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %></h1>
  <section>
    <form action="/toolTypes" method="POST">
      <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" autocomplete="off"/>
      </div>
      <div>
        <label for="description">Description</label>
        <textarea type="text" name="description" id="description" maxlength="250"></textarea>
        <p>250 char max</p>
      </div>
      <div>
        <button type="submit">Add Tool Type</button>
      </div>
    </form>
    <% if (blankError) { %>
      <div class="error">
        <h2>Please don't leave any fields blank</h2>
      </div>
    <% } %>
    <% if (duplicateError) { %>
      <div class="error">
        <h2>That tool type already exists</h2>
      </div>
    <% } else if (!blankError && !duplicateError) {%>
      <div class="error">
        <h2>Thanks for sharing</h2>
      </div>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>
