<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> Thanks For Helping Us Add More Tools Types!</h1>
  <form action="/toolTypes" method="POST">
    <div>
      <div>
        <label for="name">Name</label>
      </div>
      <div>
        <input type="text" name="name" id="name" autocomplete="off"/>
      </div>
    </div>
    <div>
      <div>
        <label for="description">Description</label>
      </div>
      <div>
        <div>
          <textarea type="text" name="description" id="description" maxlength="250"></textarea>
        </div>
        250 char max
      </div>
    </div>
    <button type="submit">Add Tool Type</button>
  </form>
  <% if (blankError) { %>
    <div>
      <h2>Please don't leave any fields blank</h2>
    </div>
  <% } %>
  <% if (duplicateError) { %>
    <div>
      <h2>That tool type already exists</h2>
    </div>
  <% } %>

</main>

<%- include('../partials/footer') %>
